/* font face */
@font-face {
	font-family: "Iropke Batang";
	src: url(font/IropkeBatangM.woff);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
	width:100%;
}
h1, h2, h3, h4 {
   font-weight:lighter;
   }
a {
  text-decoration:none;
  }
/* end reset */

html {
  overflow:auto;
}
body { 
  color:#000;
	font-size:16px !important;
	overflow:auto;
}

div#wrapper {
  width:970px;
	margin:0 auto;
	padding:0 5px;
}
	
/* header section */

header 
{
  height:200px;
	width:970px;
	border-bottom:solid 1px #000;
}

header h2 {
  display:block;
	width:150px;
	height:150px;
  background-image: url(image/cherryblossom.png);
  background-size: contain;
	border-radius:75px;
	margin:25px 0 0 0;
	float:left;
	position:relative;
  text-align: center;
	}
h2 span {
  display:block;
	padding:12px 0 0 0;
	width:50px;
	height:48px;
	-moz-border-radius:30px;
  -webkit-border-radius:30px;
	border-radius:30px;
	position:absolute;
	top:45px;
  left:45px;
  font-family: 'Do Hyeon';
	font-size:1.75em;
	}
h1 {
  float:right;
	font-family: 'Do Hyeon';
  margin:60px 0 0 0;
  font-size:5.1em;
}
  
section {
  width:970px;
  padding:20px 0 30px 0;
  border-bottom:solid 1px #000;
  font-family: "Iropke Batang",serif;
  float:left;
  position: relative;
}
  
/* 다단 문제 */
#intro {
  column-count: 2;
  column-rule: #000 solid 1px
}
/* 테두리 문제 */
section h3 {
  float:left;
  font-family: 'Do Hyeon';
	font-size:1.75em;
  width:40%;
  height: 1.75em;
	position:relative;
	padding:0 0 0 20px;
  margin:50px 0 10px 0;

  background-color: palevioletred;
  color:white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px
}
h3 span {
  margin: 20px auto;
}

/* spot section */
.spot {
  top: 10px;
  width:100%;
  height:500px;
  margin:30px 0 40px 0;
  position: relative;
  display: inline-block;
}

.spotImg {
  top: 50px;
  left: 10px;
  position: relative;
  display: none;
}

/* 선택자 문제 */

input:checked+img {
  display: inline;
} 

input 
{
  position: absolute;
  top:10px;
}

input[value="seoul"]
{
  left:10px;
}

input[value="incheon"]
{
  left:40px;
}

input[value="jeonju"]
{
  left:70px;
}

input[value="deagu"]
{
  left:100px;
}
input[value="busan"]
{
  left:130px;
}
input[value="jeju"]
{
  left:160px;
}
/* 선택자 문제 (심화) */
  
/* colophon */

h4 {
   	float:left;
	font-family:ShareRegular, sans-serif;
	font-size:1.75em;
	margin:50px 0 10px 0;
	}
ul.colophon {
    float:left;
	clear:both;
	margin:10px 0 100px 0;
	}
a {
   color:#f76625;
   }
a:hover {
   color:#000;
   }